.navbar{
   display: flex;
   justify-content:space-around;
    padding: 20px 16px;
    box-shadow: 0 1px 3px -2px black;
}
.imgcart{
    width: 40px;
}
.nav-logo{
    display:flex ;
    align-items: center;
    gap: 10px;

}
.nav-logo p{
    color: #111111;
    font-size: 38px;
    font-weight: 600;
    font-family:"Jokerman";

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #111111;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    font-family:Comic Sans MS;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu li:hover{
    background-color: #33ffff;
    padding: 20px 16px;

}

.login{
    display: flex;
    align-items: center;
    gap: 45px;
}
.login button {
    width: 100px;
    height: 38px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 30px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    font-family:Comic Sans MS;
    background: white;
    cursor: pointer;
}

.login button:hover {
    background: #33ffff;
}
